:root {
--button-color: #09d3ac;
--duration: 0.17s;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.arcada-logo {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 3.5vw;
  pointer-events: none;
}

.layout {
  display: grid;
  grid-template-columns: auto;
}

.App-header {
  background-color: #1a1c22;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1c22;
  width: 50vw;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: #6e768f;
}

.ButtonBanner {
  font-size: calc(10px + 1vmin);
  min-height: 200px;
  display: grid;
  place-items: center;
  padding-bottom: 1rem;
}

.UserListBanner {
  font-size: calc(10px + 1vmin);
  background: blueviolet;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Button {
  color: var(--button-color);
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--button-color);
  border-radius: 7px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 0.5rem 2.0rem;
  transition: color var(--duration) cubic-bezier(.08,.52,.52,1),background-color var(--duration) cubic-bezier(.08,.52,.52,1)
}

.Button:hover {
  text-decoration: none;
  outline: 0;
  color: white;
  background: var(--button-color);
}
